.profile {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
}

.owner-badge {
  background: #ff2f92;
  color: white;
  padding: 5px 9px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
}
